<div style="float:left; ">
    <input type="hidden" id="input_EmpID" objMap="EmpID" />
    <input type="hidden" id="input_PDB_ID" objMap="PDBId" />
    <table>
        <tr style="width:100px;">
            <td>PammId</td>
            <td><input id="input_PammId" type="text" objMap="PammId" /></td>
        </tr>
        <tr>
            <td>Agent Name</td>
            <td><input type="text" id="input_AgentName" objMap="EmployeeName" /></td>
        </tr>
        <tr>
            <td>Position</td>
            <td><select id="input_Position" objMap="Position"></select></td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td><input id="input_StartDate" type="text" value="" onchange="closeCalendar();" objMap="StartDate" class="datePickerInput" style="width: 80px" /></td>
        </tr>
        <tr>
            <td>Solo Date</td>
            <td><input id="input_SoloDate" type="text" value="" onchange="closeCalendar();" objMap="SoloDate" class="datePickerInput" style="width: 80px" /></td>
        </tr>

        <tr>
            <td>Status</td>
            <td><select id="input_Status" objMap="Status"><option>Full Time</option><option>Temp</option><option>Exempt</option></select></td>
        </tr>

        <tr>
            <td>Cost Center</td>
            <td>
                <select id="input_CostCenter" objMap="CostCenter"></select>
            </td>
        </tr>
        <tr>
            <td>Status Info</td>
            <td>
                <textarea id="input_StatusInfo" row:3 objMap="StatusInfo"></textarea>

            </td>
        </tr>
        <tr>
            <td>Location</td>
            <td>
                <select id="input_Location" objMap="Location" onchange="javascript:peopleObj.LoadTeam($(this).val())"></select>
            </td>
        </tr>
    </table>
</div>
<div style="float:right; ">
    <table>
        <tr><td><div class="button" onclick="javascript:peopleObj.SaveEmployee();">save</div></td></tr>
        <tr><td><div class="button" onclick="LoadLoa();">loa</div></td></tr>
        <tr><td><div class="button" onclick="LoadTerm();">term</div></td></tr>
        <tr><td><div class="button" onclick="javascript:peopleObj.DeleteEmployee();">delete</div></td></tr>
    </table>

</div>
<form id="frmTeam" onsubmit="javascript:peopleObj.AddTeamLead(event);">
    <fieldset style="width:400px;">
        <legend>Team</legend>
        <table>
            <tr style="width:100px;">
                <td>Team</td>
                <td><select id="dpr_TeamLeads" objMap="Supervisor1"></select></td>
            </tr>
        </table>
</fieldset>
</form>
<form id="frmSkill" onsubmit="javascript:peopleObj.AddSkillGroup(event)">
    <fieldset style="width:400px;">
        <legend>Skill</legend>
        <table id="dlgPR_SG" width="100%" cellspacing="1" style="border-collapse:collapse">
            <thead>
                <tr><th>Phone Login</th><th>Skill Group</th><th>Action</th></tr>
                <tr>
                    <td>
                        <input id="inptPhoneLogin" type="text" pattern="\d{5}"/>
                    </td>
                    <td>
                        <select id="inptSkillGroup" type="text" required />
                    </td>
                    <td>
                        <input id="inptAdd" value="Add" type="submit"/>
                    </td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </fieldset>
</form>

<script id="tmplTeamRecords" type="text/template">
{{#.}}
<tr>
    <td>{{#Home}}<span class="ui-icon ui-icon-circle-check"></span>{{/Home}}</td>
    <td>{{BusinessLine}}</td>
    <td>{{Manager}}</td>
    <td>{{TeamLead}}</td>
    <td><input type="button" onclick="javascript:peopleObj.DeleteTeam(this, {{ManagerID}},{{TeamLeadID}},{{Home}})" value="Delete"/></td>
</tr>
{{/.}}
</script>
<script id="tmplPRDD" type="text/template">
{{#.}}
<option value="{{ID}}">{{Name}}</option>
{{/.}}
</script>
<script id="tmplSG" type="text/template">
    {{#.}}
    <tr>
        <td>{{PhoneLogin}}</td>
        <td>{{GroupName}}</td>
        <td><input type="button" value="Delete" onclick="javascript:peopleObj.DeleteSkillGroup(this,{{SkillGroupId}},'{{PhoneLogin}}')"/></td>
    </tr>
    {{/.}}
</script>
