<!--SKILL GROUP DIALOG-->
<form id="skillGrpForm">
    <table>
        <tr>
            <td>Business Line</td>
            <td><select id="input_BL"></select></td>
            <td colspan="2" style="float:right;">
                <div id="btnSaveSkillGrp" class="button">Save</div>
            </td>
        </tr>
        <tr>
            <td>Group Title</td>
            <td><input type="text" id="grpName" required disabled="true"/></td>
            <td colspan="2">
                <div id="btnDelSkillGrp" style="display:none;" class="button">Delete</div>
            </td>
        </tr>
        <tr>
            <td>Skill #</td>
            <td>Skill Name</td>
            <td>Skill Priority</td>
            <td></td>
        </tr>
        <tr>
            <td id="skillNum"><!--<input type="number" id="sklNumber" required disabled="true"/>--></td>
            <td><input type="text" id="sklName" required disabled="disabled"/></td>
            <td><input type="number" id="sklPriority" min="1" max="16" required disabled="disabled"/></td>
            <td><button id="btnAddSkill" disabled="disabled">Add</button></td>
        </tr>
    </table>
    <table width="475" id="tblSkills">
        <thead>
            <tr><th>Skill #</th><th>Name</th><th>Priority</th><th></th></tr>
        </thead>
        <tbody></tbody>
    </table>
</form>
<script type="text/template" id="tmpSkillRow">
    <tr>
        <td style="text-align:center">{{SkillID}}</td>
        <td>{{SkillName}}</td>
        <td style="text-align:center">{{Priority}}</td>
        <td style="text-align:center">
            <div class="skillDelBtn ui-state-default ui-corner-all" skillID="{{SkillID}}"><span class="ui-icon ui-icon-trash"></span></div>
        </td>
    </tr>
</script>
