<table id="tbl_dSGAL">
    <thead>
        <tr>
            <th></th>
            <th>Agent Phone Login List</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script id="tmplAgentListRow" type="text/template">
    {{#.}}
    <tr>
        <td><input type="button" value="Copy" onclick="javascript: SkillGroup.CopyAgents(this);"/></td>
        <td class="agentLogin">{{.}}</td>
    </tr>
    {{/.}}
</script>
