
<form id="importFrm">
    <table>
        <tr>
            <td>
                <label for="iptPammSearch">Enter part of the agent name: </label>
            </td>
            <td>
                <input type="text" id="iptPammSearch" width="500"/>
            </td>
            <td><input type="submit" value="Search"/></td>
        </tr>
    </table>

    <table id="pammResults" width="500">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</form>
<script id="resultsRow" type="text/template">
    {{#.}}
    <tr>
        <td>{{ID}}</td>
        <td>{{Name}}</td>
        <td>{{Role}}</td>
        <td><input type="button" value="Import" onclick="javascript:importObj.ImportPammUser({{ID}});"/></td>
    </tr>
    {{/.}}
</script>
