
<form id="codesFrm">
    <div style="margin-top:20px;margin-left:20px;width:500px;">
        <label for="selCodeGroups">Code Group: </label><select id="selCodeGroups" onchange="javascript:codeObj.GetCodeDetails();"></select>
    </div>
    <div style="margin-top:20px;margin-left:20px;width:500px;">
        <table id="codesTbl" class="tablesorter tablesorter-default" role="grid" style="width:100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Abbreviation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>
                        <input id="codesInptTitle" type="text"/>
                    </td>
                    <td>
                        <input id="codesInptAbbrev" type="text" required />
                    </td>
                    <td>
                        <input type="submit" value="Add" />
                    </td>
                </tr>
            </tfoot>
            <tbody></tbody>
        </table>
    </div>
</form>
<script id="codeDDL" type="text/template">
    {{#.}}
    <option>{{.}}</option>
    {{/.}}
</script>

<script id="codeTbl_tmpl" type="text/template">
    {{#.}}
    <tr>
        <td>{{Title}}</td>
        <td>{{Abbrev}}</td>
        <td><input type="button" onclick="javascript: codeObj.Delete({{ID}});" value="Delete"/></td>
    </tr>
    {{/.}}
</script>
