<table id="statRpt" class="tablesorter tablesorter-default" role="grid" width="600" cellspacing="0">
</table>

<script id="statRpt_Cur" type="text/template">
    <thead>
        <tr>
            <th></th>
            {{#Locations}}
            <th class="center">{{.}}</th>
            {{/Locations}}
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Site Totals</td>
            {{#Total.Values}}
            <td class="center">{{Value}}</td>
            {{/Total.Values}}
        </tr>
    </tfoot>
    <tbody>
        {{#CategoryList}}
        <tr>
            <td>{{Name}}</td>
            {{#Values}}
            <td class="center">
                <a href="javascript:void(0);" onclick="javascript:Stats.ShowDetails('{{Name}}','{{Key}}')">{{Value}}</a>
            </td>
            {{/Values}}
        </tr>
        {{/CategoryList}}
    </tbody>
</script>
