﻿/*  COBA MAIN STYLE SHEET    */

     
        table {
            width: 100%;
            font-family:Verdana;
            font-size:xx-small;
            text-align: left;
        }

        th {
            font-weight: bold;
            color: black;
        }
        td.link {
            
            cursor: pointer;
            text-decoration: underline;
           
        }

        td, th {
            padding: 4px 5px;
        }

        .odd {
            background-color: lightgray;
        }

            .odd td {
                /*border-bottom: 1px solid #cef;*/
            }

        .even {
            background-color: whitesmoke;
        }

            .even td {
                /*border-bottom: 1px solid #cef;*/
            }
        .Auto {
            background-color: #000000 !important;
        }

        li.submenu {
            color: black;
            font-size: xx-small;
            list-style: none;
            border: 0px;
            background-color: #516f19;
        }

            li.submenu:hover {
                color: black;
                font-size: xx-small;
                list-style: none;
                border: 0px;
                background-color: #7EA420;
            }


        .dataTables_filter label {
            font-size: xx-small;
        }

        INPUT.paramEdit {
            height: 10px;
            font-size: xx-small;
        }

        SELECT.paramEdit {
            font-size: xx-small;
            height: 26px;
            color: red;
        }

        .menuRibbon {
            font-size: 12px;
            height: 24px;
            color: #000;
            border: 1px solid #999;
            background: #cac8c8;
        }

        /*INPUT {
            height: 30px;
            font-size: small;
        }*/

            INPUT.navButton {
                height: 30px;
                font-size: x-small;
            }

        td.High {
            color: #7D2426;
            font-weight: bold;
        }

        td.Medium {
            color: orange !important;
            font-weight: bold;
        }

        td.Low {
            color: green !important;
            font-weight: bold;
        }

/*EXECUTIVE CLASSES*/
        td.executive{
            font-weight: bold;
            font-size:small;  
             color:black; 
        }

         td.HighBack {
            color:#DC0000;
            font-weight: bold;
            font-size:small;                                   
            
        }
  
             
        td.MediumBack {
            color: orange !important;
            font-weight: bold;
             font-size:small;
          
        }

        td.LowBack {
            color: green !important;
            font-weight: bold;
             font-size:small;
            
        }
        td.Negative{
              color: #DC0000;
        }
        td.Positive{
              color: black;
        }

/*END EXECUTIVE CLASSES*/
         td.vndr {
            color: black !important;
            font-weight: bold;
        }
          td.urgent {
            background-color: red !important;
            font-weight: bold;
           
        }
          td.OrderLink{
               color: blue !important;
            font-weight: bold;
          }
        option.High {
            color:#7A2426;
            font-weight: bold;
        }

        option.Medium {
            color: orange !important;
            font-weight: bold;
        }

        option.Low {
            color: green !important;
            font-weight: bold;
        }
        label {
            font-family:Verdana;
        }
        /*LABEL {
            height: 30px;
            font-size: x-small;
        }*/

        /*SELECT {
            height: 30px;
            font-size: small;
        }*/


        .dataTables_filter INPUT {
            height: 10px;
            width: 30px;
            font-size: xx-small;
            margin-right: 10px;
        }

        .dataTables_length label {
            font-size: xx-small;
        }

        .dataTables_length SELECT {
            font-size: xx-small;
            height: 26px;
            width: 30px;
            color: red;
            margin-left: 10px;
        }

        .paging_two_button A {
            padding-right: 8px;
        }

        .dataTables_info {
            display: block;
            font-size: xx-small;
            margin-left: 4px;
            margin-top: 20px;
            color: #808080;
        }

        #dtable TD {
            font-size: x-small;
        }

        #mainContent {
            background-color: white;
        }
   
   
   
   .page-headerWrap{width:100%;overflow:hidden;}
   
   h1.page-header{width:350px;float:left;
                  font-weight: 300;
line-height: 40px;
padding-bottom: 10px;
border-bottom: 1px dotted transparent;
text-transform: capitalize;
text-shadow: 0px 1px 0px white;
font-size: 40px;
-webkit-text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
-moz-text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
   }
   
    a.redButton{
	width:70px;
	float:right;
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	margin-right:5px;
	margin-top:10px;
	padding: 5px 0px;
	text-align:center;
	background: #7F2527;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
        cursor: pointer;
}
