/* color icons over 500 */
[class^="cus-"],
[class*=" cus-"] {
  display: inline-block;
  width: 16px;
  height: 16px;

  line-height: 14px;
  vertical-align: text-top;
  background-image: url('../img/cus/sprite-compressed.png');
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="cus-"]:last-child,
[class*=" cus-"]:last-child {
  *margin-left: 0;
}

.btn [class^="cus-"], .nav [class^="cus-"], .btn [class*=" cus-"], .nav [class*=" cus-"], a [class*="cus-"], a [class*="cus-"] {
 	margin-right:1px;
  *margin-right: .1em;
}

.btn-mini [class^="cus-"], .btn-mini [class*=" cus-"] {
	display:none;
}

.oTable-adjust {
	margin-top:-1px
}

.cus-accept { background-position: -340px -266px; }
.cus-add { background-position: -17px -51px; }
.cus-alarm { background-position: -323px -238px; }
.cus-anchor { background-position: -340px -283px; }
.cus-application-add { background-position: -272px -170px; }
.cus-application-delete { background-position: -289px -17px; }
.cus-application-double { background-position: -408px -34px; }
.cus-application-edit { background-position: -391px -204px; }
.cus-application-error { background-position: -374px -306px; }
.cus-application-form { background-position: 0 -238px; }
.cus-application-home { background-position: -306px -110px; }
.cus-application-key { background-position: 0 -272px; }
.cus-application-lightning { background-position: -85px -34px; }
.cus-application-link { background-position: -221px -136px; }
.cus-application-osx { background-position: -204px -34px; }
.cus-application-put { background-position: -51px -85px; }
.cus-application-side-boxes { background-position: -17px -153px; }
.cus-application-side-contract { background-position: -136px -272px; }
.cus-application-side-expand { background-position: -323px -306px; }
.cus-application-side-list { background-position: -153px -17px; }
.cus-application-side-tree { background-position: -238px -255px; }
.cus-application-split { background-position: -153px -136px; }
.cus-application-tile-horizontal { background-position: -85px -136px; }
.cus-application-tile-vertical { background-position: 0 -255px; }
.cus-application-view-columns { background-position: -246px -323px; }
.cus-application-view-detail { background-position: -102px -136px; }
.cus-application-view-gallery { background-position: -17px -17px; }
.cus-application-view-icons { background-position: -119px -340px; }
.cus-application-view-list { background-position: -119px -272px; }
.cus-application-view-tile { background-position: -238px -153px; }
.cus-application-view-xp { background-position: -51px -306px; }
.cus-application-view-xp-terminal { background-position: -323px -34px; }
.cus-arrow-branch { background-position: -17px -34px; }
.cus-arrow-divide { background-position: -153px -340px; }
.cus-arrow-in { background-position: -187px -17px; }
.cus-arrow-inout { background-position: -68px -153px; }
.cus-arrow-join { background-position: 0 -306px; }
.cus-arrow-left { background-position: -187px -255px; }
.cus-arrow-merge { background-position: 0 -323px; }
.cus-arrow-out { background-position: -51px -119px; }
.cus-arrow-redo { background-position: -187px -34px; }
.cus-arrow-refresh { background-position: -408px -119px; }
.cus-arrow-right { background-position: -374px -68px; }
.cus-arrow-undo { background-position: -102px -68px; }
.cus-asterisk-orange { background-position: -340px -130px; }
.cus-attach { background-position: -85px -119px; }
.cus-attach-2 { background-position: -255px -119px; }
.cus-award-star-gold { background-position: -391px -34px; }
.cus-bandaid { background-position: -170px -187px; }
.cus-basket { background-position: -204px -221px; }
.cus-bell { background-position: -323px -51px; }
.cus-bin-closed { background-position: -68px -289px; }
.cus-blog { background-position: -187px -221px; }
.cus-blueprint { background-position: -34px -153px; }
.cus-blueprint-horizontal { background-position: -340px -17px; }
.cus-bluetooth { background-position: -204px -102px; }
.cus-bomb { background-position: -34px -85px; }
.cus-book { background-position: -374px -204px; }
.cus-book-addresses { background-position: -357px 0; }
.cus-book-next { background-position: -102px -238px; }
.cus-book-open { background-position: -85px -51px; }
.cus-book-previous { background-position: -204px -187px; }
.cus-bookmark { background-position: -153px -272px; }
.cus-bookmark-book { background-position: -408px -187px; }
.cus-bookmark-book-open { background-position: -204px -255px; }
.cus-bookmark-document { background-position: -102px -170px; }
.cus-bookmark-folder { background-position: -68px -238px; }
.cus-books { background-position: -187px -136px; }
.cus-box { background-position: -119px -187px; }
.cus-brick { background-position: -204px -51px; }
.cus-bricks { background-position: -306px -144px; }
.cus-briefcase { background-position: -68px -85px; }
.cus-bug { background-position: -102px -255px; }
.cus-buildings { background-position: -221px 0; }
.cus-bullet-add-1 { width: 7px; height: 7px; background-position: -17px -323px; }
.cus-bullet-add-2 { width: 7px; height: 7px; background-position: -306px -17px; }
.cus-bullet-key { width: 10px; height: 10px; background-position: -340px -68px; }
.cus-cake { background-position: -187px -68px; }
.cus-calculator { background-position: -136px -34px; }
.cus-calendar-1 { background-position: -110px -323px; }
.cus-calendar-2 { background-position: -153px -170px; }
.cus-camera { background-position: -323px 0; }
.cus-cancel { background-position: -255px -102px; }
.cus-car { background-position: -136px -102px; }
.cus-cart { background-position: -51px -136px; }
.cus-cd { background-position: -136px -153px; }
.cus-chart-bar { background-position: -170px -153px; }
.cus-chart-curve { background-position: -136px -255px; }
.cus-chart-line { background-position: -255px -85px; }
.cus-chart-organisation { background-position: -153px -238px; }
.cus-chart-pie { background-position: -51px -17px; }
.cus-clipboard-paste-image { background-position: -119px -102px; }
.cus-clipboard-sign { background-position: -297px -331px; }
.cus-clipboard-text { background-position: -238px -289px; }
.cus-clock { background-position: -187px -238px; }
.cus-cog { background-position: -391px -221px; }
.cus-coins { background-position: -119px -153px; }
.cus-color-swatch-1 { background-position: -119px -204px; }
.cus-color-swatch-2 { background-position: -289px -119px; }
.cus-comment { background-position: -17px -289px; }
.cus-compass { background-position: -306px -195px; }
.cus-compress { background-position: -68px -272px; }
.cus-computer { background-position: 0 -289px; }
.cus-connect { background-position: -136px -119px; }
.cus-contrast { background-position: -170px -289px; }
.cus-control-eject { background-position: -51px -238px; }
.cus-control-end { background-position: -34px -17px; }
.cus-control-equalizer { background-position: -85px -187px; }
.cus-control-fastforward { background-position: -170px -68px; }
.cus-control-pause { background-position: -34px -68px; }
.cus-control-play { background-position: -34px -306px; }
.cus-control-repeat { background-position: -238px -119px; }
.cus-control-rewind { background-position: -204px -170px; }
.cus-control-start { background-position: -340px -300px; }
.cus-control-stop { background-position: -93px -323px; }
.cus-control-wheel { background-position: -272px -68px; }
.cus-counter { background-position: 0 -187px; }
.cus-counter-count { background-position: -170px -119px; }
.cus-counter-count-up { background-position: 0 -51px; }
.cus-counter-reset { background-position: -136px -340px; }
.cus-counter-stop { background-position: -340px -96px; }
.cus-cross { background-position: -42px -323px; }
.cus-cross-octagon { background-position: -255px 0; }
.cus-cross-octagon-fram { background-position: -357px -68px; }
.cus-cross-shield { background-position: -187px -187px; }
.cus-cross-shield-2 { background-position: -408px -68px; }
.cus-crown { background-position: -306px -297px; }
.cus-crown-bronze { background-position: -85px -221px; }
.cus-crown-silver { background-position: -85px -238px; }
.cus-css { background-position: -136px -289px; }
.cus-cursor { background-position: -255px -51px; }
.cus-cut { background-position: -323px -68px; }
.cus-dashboard { background-position: -238px -170px; }
.cus-data { background-position: -136px -221px; }
.cus-database { background-position: -323px -255px; }
.cus-databases { background-position: 0 -102px; }
.cus-delete { background-position: -102px -306px; }
.cus-delivery { background-position: -272px -119px; }
.cus-desktop { background-position: -119px -255px; }
.cus-desktop-empty { background-position: -357px -187px; }
.cus-direction { background-position: -255px -238px; }
.cus-disconnect { background-position: -136px -170px; }
.cus-disk { background-position: -357px -221px; }
.cus-doc-access { background-position: -374px -119px; }
.cus-doc-break { background-position: -255px -272px; }
.cus-doc-convert { background-position: -68px -68px; }
.cus-doc-excel-csv { background-position: -255px -170px; }
.cus-doc-excel-table { background-position: -340px -164px; }
.cus-doc-film { background-position: -170px 0; }
.cus-doc-illustrator { background-position: -221px -272px; }
.cus-doc-music { background-position: -119px -289px; }
.cus-doc-music-playlist { background-position: -153px -221px; }
.cus-doc-offlice { background-position: -374px -136px; }
.cus-doc-page { background-position: -221px -187px; }
.cus-doc-page-previous { background-position: -34px -272px; }
.cus-doc-pdf { background-position: -272px -34px; }
.cus-doc-photoshop { background-position: -289px -85px; }
.cus-doc-resize { background-position: -17px -238px; }
.cus-doc-resize-actual { background-position: 0 -153px; }
.cus-doc-shred { background-position: -280px -323px; }
.cus-doc-stand { background-position: -102px -221px; }
.cus-doc-table { background-position: -85px -255px; }
.cus-doc-tag { background-position: -306px -263px; }
.cus-doc-text-image { background-position: -289px -204px; }
.cus-door { background-position: -136px -306px; }
.cus-door-in { background-position: -119px 0; }
.cus-drawer { background-position: -68px -136px; }
.cus-drink { background-position: -306px -246px; }
.cus-drive { background-position: -68px 0; }
.cus-drive-burn { background-position: -289px -238px; }
.cus-drive-cd { background-position: -34px -136px; }
.cus-drive-cd-empty { background-position: -221px -306px; }
.cus-drive-delete { background-position: -102px 0; }
.cus-drive-disk { background-position: -161px -323px; }
.cus-drive-error { background-position: -391px -255px; }
.cus-drive-go { background-position: -85px -85px; }
.cus-drive-link { background-position: -204px -17px; }
.cus-drive-network { background-position: -187px -272px; }
.cus-drive-rename { background-position: -221px -68px; }
.cus-dvd { background-position: -255px -187px; }
.cus-email { background-position: -221px -17px; }
.cus-email-open { background-position: -102px -272px; }
.cus-email-open-image { background-position: -102px -34px; }
.cus-emoticon-evilgrin { background-position: -272px -238px; }
.cus-emoticon-grin { background-position: -340px -215px; }
.cus-emoticon-happy { background-position: 0 -170px; }
.cus-emoticon-smile { background-position: -340px -79px; }
.cus-emoticon-surprised { background-position: -25px -323px; }
.cus-emoticon-tongue { background-position: -357px -119px; }
.cus-emoticon-unhappy { background-position: 0 -119px; }
.cus-emoticon-waii { background-position: -68px -187px; }
.cus-emoticon-wink { background-position: -374px 0; }
.cus-envelope { background-position: -68px -34px; }
.cus-envelope-2 { background-position: -357px -170px; }
.cus-error { background-position: -153px -102px; }
.cus-exclamation { background-position: -17px -306px; }
.cus-exclamation-octagon-fram { background-position: -221px -153px; }
.cus-eye { background-position: -374px -85px; }
.cus-feed { background-position: -357px -272px; }
.cus-feed-ballon { background-position: -238px -51px; }
.cus-feed-document { background-position: -238px -136px; }
.cus-female { background-position: 0 -17px; }
.cus-film { background-position: -85px -68px; }
.cus-films { background-position: -102px -102px; }
.cus-find { background-position: -170px -136px; }
.cus-flag-blue { background-position: -340px -34px; }
.cus-folder { background-position: -153px -68px; }
.cus-font { background-position: -374px -238px; }
.cus-funnel { background-position: -391px -85px; }
.cus-grid { background-position: -85px -306px; }
.cus-grid-dot { background-position: -289px -102px; }
.cus-group { background-position: -68px -340px; }
.cus-hammer-screwdriver { background-position: -187px -153px; }
.cus-hand { background-position: -357px -34px; }
.cus-hand-point { background-position: -306px -25px; }
.cus-heart { background-position: -170px -17px; }
.cus-heart-break { background-position: -153px -119px; }
.cus-heart-empty { background-position: -34px -119px; }
.cus-heart-half { background-position: 0 -34px; }
.cus-help { background-position: -17px -255px; }
.cus-highlighter { background-position: -170px -221px; }
.cus-house { background-position: -68px -102px; }
.cus-html { background-position: -408px -85px; }
.cus-image-1 { background-position: -357px -306px; }
.cus-image-2 { background-position: -357px -136px; }
.cus-images { background-position: -17px -204px; }
.cus-inbox { background-position: -357px -204px; }
.cus-ipod { background-position: -340px -51px; }
.cus-key { background-position: -68px -17px; }
.cus-keyboard { background-position: -374px -221px; }
.cus-layer-treansparent { background-position: -136px -187px; }
.cus-layers { background-position: -306px -127px; }
.cus-layout { background-position: -51px 0; }
.cus-layout-header-footer-1 { background-position: -204px -68px; }
.cus-layout-header-footer-2{ background-position: -374px -255px; }
.cus-layout-join { background-position: -204px 0; }
.cus-layout-join-vertical { background-position: -306px -76px; }
.cus-layout-select { background-position: -34px -255px; }
.cus-layout-select-content { background-position: -221px -221px; }
.cus-layout-select-footer { background-position: -119px -119px; }
.cus-layout-select-sidebar { background-position: -187px -204px; }
.cus-layout-split { background-position: -323px -204px; }
.cus-layout-split-vertical { background-position: -272px -289px; }
.cus-lifebuoy { background-position: -51px -102px; }
.cus-lightbulb { background-position: -272px -17px; }
.cus-lightbulb-off { background-position: -221px -85px; }
.cus-lightning { background-position: 0 -68px; }
.cus-link { background-position: -306px -229px; }
.cus-link-break { background-position: -119px -221px; }
.cus-lock { background-position: -153px 0; }
.cus-lock-unlock { background-position: -85px -17px; }
.cus-magnet { background-position: -51px -153px; }
.cus-magnifier { background-position: -119px -51px; }
.cus-magnifier-zoom-in { background-position: -323px -187px; }
.cus-male { background-position: -187px -119px; }
.cus-map { background-position: -289px -272px; }
.cus-marker { background-position: -119px -238px; }
.cus-medal-bronze-1 { background-position: -17px -102px; }
.cus-medal-gold-1 { background-position: -272px 0; }
.cus-media-player-small-blue { background-position: -238px -238px; }
.cus-microphone { background-position: -204px -153px; }
.cus-mobile-phone { background-position: -204px -204px; }
.cus-money { background-position: -255px -136px; }
.cus-money-dollar { background-position: -289px -170px; }
.cus-money-euro { background-position: -51px -272px; }
.cus-money-pound { background-position: -17px -221px; }
.cus-money-yen { background-position: -255px -17px; }
.cus-monitor { background-position: -204px -119px; }
.cus-mouse { background-position: -136px -68px; }
.cus-music { background-position: -323px -289px; }
.cus-music-beam { background-position: -391px -17px; }
.cus-neutral { background-position: -153px -85px; }
.cus-new { background-position: -306px -93px; }
.cus-newspaper { background-position: -204px -238px; }
.cus-note { background-position: -306px -59px; }
.cus-nuclear { background-position: -238px -221px; }
.cus-package { background-position: -170px -306px; }
.cus-page { background-position: -306px -212px; }
.cus-page-2 { background-position: -374px -17px; }
.cus-page-2-copy { background-position: -272px -51px; }
.cus-page-code { background-position: -374px -272px; }
.cus-page-copy { background-position: -357px -85px; }
.cus-page-excel { background-position: -255px -255px; }
.cus-page-lightning { background-position: -153px -153px; }
.cus-page-paste { background-position: -255px -68px; }
.cus-page-red { background-position: -102px -51px; }
.cus-page-refresh { background-position: -51px -187px; }
.cus-page-save { background-position: -34px -289px; }
.cus-page-white-cplusplus { background-position: -136px -85px; }
.cus-page-white-csharp { background-position: -357px -255px; }
.cus-page-white-cup { background-position: -34px -187px; }
.cus-page-white-database { background-position: -195px -323px; }
.cus-page-white-delete { background-position: -187px -340px; }
.cus-page-white-dvd { background-position: -263px -323px; }
.cus-page-white-edit { background-position: -221px -34px; }
.cus-page-white-error { background-position: -17px -187px; }
.cus-page-white-excel { background-position: -340px -113px; }
.cus-page-white-find { background-position: -136px -204px; }
.cus-page-white-flash { background-position: -68px -306px; }
.cus-page-white-freehand { background-position: -102px -340px; }
.cus-page-white-gear { background-position: -238px -68px; }
.cus-page-white-get { background-position: -374px -34px; }
.cus-page-white-paintbrush { background-position: -323px -102px; }
.cus-page-white-paste { background-position: -204px -85px; }
.cus-page-white-php { background-position: -51px -51px; }
.cus-page-white-picture { background-position: -238px -34px; }
.cus-page-white-powerpoint { background-position: -289px -51px; }
.cus-page-white-put { background-position: -170px -51px; }
.cus-page-white-ruby { background-position: -221px -102px; }
.cus-page-white-stack { background-position: -221px -204px; }
.cus-page-white-star { background-position: -51px -289px; }
.cus-page-white-swoosh { background-position: -51px -221px; }
.cus-page-white-text { background-position: -306px -161px; }
.cus-page-white-text-width { background-position: -289px -153px; }
.cus-page-white-tux { background-position: -357px -102px; }
.cus-page-white-vector { background-position: -34px -221px; }
.cus-page-white-visualstudio { background-position: -391px -51px; }
.cus-page-white-width { background-position: -221px -170px; }
.cus-page-white-word { background-position: -374px -289px; }
.cus-page-white-world { background-position: -68px -221px; }
.cus-page-white-wrench { background-position: -153px -204px; }
.cus-page-white-zip { background-position: -323px -272px; }
.cus-paintbrush { background-position: -85px -170px; }
.cus-paintcan { background-position: -391px 0; }
.cus-palette { background-position: -136px -238px; }
.cus-paper-bag { background-position: -119px -170px; }
.cus-paste-plain { background-position: -255px -306px; }
.cus-paste-word { background-position: -119px -68px; }
.cus-pencil { background-position: -85px -272px; }
.cus-photo { background-position: -323px -17px; }
.cus-photo-album { background-position: -272px -102px; }
.cus-photos { background-position: -238px -17px; }
.cus-piano { background-position: -374px -102px; }
.cus-picture { background-position: -306px -42px; }
.cus-pilcrow { background-position: -374px -51px; }
.cus-pill { background-position: -85px -204px; }
.cus-pin { background-position: -323px -221px; }
.cus-pipette { background-position: -102px -85px; }
.cus-plaing-card { background-position: -272px -85px; }
.cus-plug { background-position: -255px -289px; }
.cus-plugin { background-position: -221px -119px; }
.cus-printer { background-position: -170px -204px; }
.cus-projection-screen { background-position: -119px -136px; }
.cus-projection-screen-present { background-position: -136px -51px; }
.cus-rainbow { background-position: -357px -51px; }
.cus-report { background-position: -408px -136px; }
.cus-rocket { background-position: -357px -17px; }
.cus-rosette { background-position: -323px -136px; }
.cus-rss { background-position: -272px -272px; }
.cus-ruby { background-position: -391px -187px; }
.cus-ruler-1 { background-position: -136px -136px; }
.cus-ruler-2 { background-position: -391px -238px; }
.cus-ruler-crop { background-position: -221px -289px; }
.cus-ruler-triangle { background-position: -51px -34px; }
.cus-safe { background-position: -34px -51px; }
.cus-script { background-position: -119px -34px; }
.cus-selection { background-position: -153px -289px; }
.cus-selection-select { background-position: -102px -153px; }
.cus-server { background-position: -357px -153px; }
.cus-shading { background-position: -272px -204px; }
.cus-shape-aling-bottom { background-position: -391px -119px; }
.cus-shape-aling-center { background-position: -170px -85px; }
.cus-shape-aling-left { background-position: -170px -102px; }
.cus-shape-aling-middle { background-position: -127px -323px; }
.cus-shape-aling-right { background-position: -391px -136px; }
.cus-shape-aling-top { background-position: -170px -272px; }
.cus-shape-flip-horizontal { background-position: -255px -153px; }
.cus-shape-flip-vertical { background-position: -204px -289px; }
.cus-shape-group { background-position: -17px -170px; }
.cus-shape-handles { background-position: -238px -204px; }
.cus-shape-move-back { background-position: -170px -340px; }
.cus-shape-move-backwards { background-position: -289px -136px; }
.cus-shape-move-forwards { background-position: -187px -289px; }
.cus-shape-move-front { background-position: -85px -289px; }
.cus-shape-square { background-position: -340px 0; }
.cus-shield { background-position: -255px -204px; }
.cus-sitemap { background-position: -408px -51px; }
.cus-slide { background-position: -178px -323px; }
.cus-slides { background-position: -85px -102px; }
.cus-slides-stack { background-position: -357px -238px; }
.cus-smiley-confuse { background-position: -102px -187px; }
.cus-smiley-cool { background-position: -34px -238px; }
.cus-smiley-cry { background-position: -391px -272px; }
.cus-smiley-fat { background-position: -68px -119px; }
.cus-smiley-mad { background-position: -391px -68px; }
.cus-smiley-red { background-position: -272px -221px; }
.cus-smiley-roll { background-position: -102px -204px; }
.cus-smiley-slim { background-position: 0 -204px; }
.cus-smiley-yell { background-position: -391px -153px; }
.cus-socket { background-position: -68px -255px; }
.cus-sockets { background-position: -17px 0; }
.cus-sort { background-position: -153px -306px; }
.cus-sort-alphabet { background-position: 0 0; }
.cus-sort-date { background-position: -408px -102px; }
.cus-sort-disable { background-position: -255px -221px; }
.cus-sort-number { background-position: -187px -51px; }
.cus-sort-price { background-position: -374px -170px; }
.cus-sort-quantity { background-position: -238px -102px; }
.cus-sort-rating { background-position: 0 -221px; }
.cus-sound { background-position: -306px -178px; }
.cus-sound-note { background-position: -272px -153px; }
.cus-spellcheck { background-position: -374px -153px; }
.cus-sport-ball { background-position: -340px -181px; }
.cus-sport-basketball { background-position: -136px 0; }
.cus-sport-football { background-position: -204px -272px; }
.cus-sport-golf { background-position: -102px -289px; }
.cus-sport-raquet { background-position: -34px -34px; }
.cus-sport-shuttlecock { background-position: -187px 0; }
.cus-sport-soccer { background-position: -153px -51px; }
.cus-sport-tennis { background-position: -340px -249px; }
.cus-stamp { background-position: -306px -280px; }
.cus-star-1 { background-position: -289px -306px; }
.cus-star-2 { background-position: -153px -255px; }
.cus-status-online { background-position: -187px -85px; }
.cus-stop { background-position: -119px -306px; }
.cus-style { background-position: -34px -340px; }
.cus-sum { background-position: -17px -340px; }
.cus-sum-2 { background-position: -170px -34px; }
.cus-switch { background-position: -136px -17px; }
.cus-tab { background-position: -187px -170px; }
.cus-table { background-position: -119px -85px; }
.cus-tag { background-position: -170px -238px; }
.cus-tag-blue { background-position: -272px -255px; }
.cus-target { background-position: -238px 0; }
.cus-telephone { background-position: -289px -221px; }
.cus-television { background-position: -238px -187px; }
.cus-text-align-center { background-position: -85px -153px; }
.cus-text-align-justify { background-position: -357px -289px; }
.cus-text-align-left { background-position: -229px -323px; }
.cus-text-align-right { background-position: -85px -340px; }
.cus-text-allcaps { background-position: -340px -198px; }
.cus-text-bold { background-position: 0 -340px; }
.cus-text-columns { background-position: -17px -119px; }
.cus-text-dropcaps { background-position: -34px -204px; }
.cus-text-heading-1 { background-position: -17px -68px; }
.cus-text-horizontalrule { background-position: -238px -306px; }
.cus-text-indent { background-position: -391px -102px; }
.cus-text-indent-remove { background-position: -289px -289px; }
.cus-text-italic { background-position: -212px -323px; }
.cus-text-kerning { background-position: -51px -255px; }
.cus-text-letter-omega { background-position: -238px -272px; }
.cus-text-letterspacing { background-position: -153px -187px; }
.cus-text-linespacing { background-position: -289px -255px; }
.cus-text-list-bullets { background-position: -323px -85px; }
.cus-text-list-numbers { background-position: -144px -323px; }
.cus-text-lowercase { background-position: -306px -314px; }
.cus-text-padding-bottom { background-position: -340px -147px; }
.cus-text-padding-left { background-position: -357px -323px; }
.cus-text-padding-right { background-position: -51px -340px; }
.cus-text-padding-top { background-position: -306px 0; }
.cus-text-signature { background-position: -187px -102px; }
.cus-text-smallcaps { background-position: -17px -272px; }
.cus-text-strikethrough { background-position: -289px -34px; }
.cus-text-subscript { background-position: -102px -119px; }
.cus-textfield { background-position: -187px -306px; }
.cus-textfield-rename { background-position: -323px -153px; }
.cus-ticket { background-position: -68px -170px; }
.cus-timeline-marker { background-position: -51px -170px; }
.cus-traffic { background-position: -102px -17px; }
.cus-transmit { background-position: -170px -170px; }
.cus-trophy { background-position: -221px -255px; }
.cus-trophy-bronze { background-position: 0 -85px; }
.cus-trophy-silver { background-position: -289px -68px; }
.cus-ui-combo-box { background-position: -255px -34px; }
.cus-ui-saccordion { background-position: -51px -68px; }
.cus-ui-slider-1 { background-position: -323px -119px; }
.cus-ui-slider-2 { background-position: -408px -153px; }
.cus-ui-tab-bottom { background-position: -34px -102px; }
.cus-ui-tab-content { background-position: -221px -238px; }
.cus-ui-tab-disable { background-position: -76px -323px; }
.cus-ui-tab-side { background-position: -391px -170px; }
.cus-ui-text-field-hidden { background-position: -34px 0; }
.cus-ui-text-field-password { background-position: -272px -136px; }
.cus-umbrella { background-position: -272px -306px; }
.cus-user { background-position: -170px -255px; }
.cus-user-black-female { background-position: -272px -187px; }
.cus-user-business { background-position: -238px -85px; }
.cus-user-business-boss { background-position: -289px -187px; }
.cus-user-female { background-position: -323px -170px; }
.cus-user-silhouette { background-position: -289px 0; }
.cus-user-thief { background-position: -408px -17px; }
.cus-user-thief-baldie { background-position: -340px -232px; }
.cus-vcard { background-position: -51px -204px; }
.cus-vector { background-position: -59px -323px; }
.cus-wait { background-position: -374px -187px; }
.cus-wall { background-position: -204px -306px; }
.cus-wall-break { background-position: -119px -17px; }
.cus-wall-brick { background-position: -85px 0; }
.cus-wall-disable { background-position: -204px -136px; }
.cus-wand { background-position: -34px -170px; }
.cus-weather-clouds { background-position: -408px 0; }
.cus-weather-cloudy { background-position: -153px -34px; }
.cus-weather-lightning { background-position: -68px -204px; }
.cus-weather-rain { background-position: 0 -136px; }
.cus-weather-snow { background-position: -221px -51px; }
.cus-weather-sun { background-position: -17px -85px; }
.cus-webcam { background-position: -68px -51px; }
.cus-world { background-position: -17px -136px; }
.cus-zone { background-position: -408px -170px; }
.cus-zone-money { background-position: -340px -317px; }

