﻿ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
}

li {
    float: left;
}

    li a, .dropbtn {
        display: inline-block;
        color: #32618C;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        z-index: 1000;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: whitesmoke;
        }

    li.dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

    .dropdown-content a {
        color: #32618C;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        z-index: 1000;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

h1, h2, h3, h4, h5, label, p {
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
}

th {
    background-color: #32618c;
    color: white;
}

td, th {
    padding: 4px 5px;
    border-right: 1px solid #fff;
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
}

.odd {
    background-color: whitesmoke;
}

.even {
    background-color: lightsteelblue;
}

.odd.selected {
    background-color:#E7FADE;
}
.even.selected {
    background-color:#ABDDD0;
}

td.urgent {
    background-color: red !important;
    font-weight: bold;
}

td.OrderLink {
    color: blue !important;
    font-weight: bold;
}

div.button {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 25px;
    background-color: #32618c;
    color: white !important;
    border-radius: 5px;
    cursor: pointer;
}

.link{
    text-align:left; 
    color:blue;
    cursor:pointer;
    text-decoration:underline;
}

legend{
    font-size: 0.75em;
    font-weight: bold;
}

.ok{
    background-color:#97E173;
}

.center { text-align:center; }
tfoot tr td { border-top: 3px double black;}